@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,300;0,500;1,500&family=Nunito+Sans:wght@600&family=Oleo+Script&family=Oswald:wght@300;400&display=swap');

.font{
  font-family: 'Nunito Sans', sans-serif;
}

.title::before{
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  background:#037fff;
  top: 50%;
  left: -80%;
  padding: 0 10px;
}

.title::after{
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  background:#037fff;
  top: 50%;
  right: -80%;
}

@media screen and (max-width:470px){
  .title::before{
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background:#037fff;
    top: 50%;
    left: -60%;
    padding: 0 10px;
  }
  
  .title::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background:#037fff;
    top: 50%;
    right: -60%;
  }
}

/* card hover effect  */
.service-card {
  display: block;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 260px;
  transition: .3s ease;
}
.service-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #747475;
  height: 40px;
  width: 40px;
  border-radius: 32px;
  transform: scale(1);
  /* transform-origin: 50% 50%; */
  transition: transform .5s ease-out;
}
.service-card:hover::before {
  transform: scale(23);
}
.service-card:hover{
  margin-top: -15px;
}