@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,300;0,500;1,500&family=Nunito+Sans:wght@600&family=Oleo+Script&family=Oswald:wght@300;400&display=swap');

.font {
  font-family: 'Nunito Sans', sans-serif;
}

.title::before {
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  background: #037fff;
  top: 50%;
  left: -80%;
  padding: 0 10px;
}

.title::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 3px;
  background: #037fff;
  top: 50%;
  right: -80%;
}

@media screen and (max-width:470px) {
  .title::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background: #037fff;
    top: 50%;
    left: -60%;
    padding: 0 10px;
  }

  .title::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background: #037fff;
    top: 50%;
    right: -60%;
  }
}

/* project card hover effect  */
.details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateX(-500px);
  transition: .5s ease-in-out;
}
.card{
  transition: .3s all;
}
.card:hover .details{
  transform: translateX(0);
}

/* card hover effect  */
.service-card {
  display: block;
  position: relative;
  border-radius: 4px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  height: 260px;
  transition: .3s ease;
}

.service-card::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #747475;
  height: 40px;
  width: 40px;
  border-radius: 32px;
  transform: scale(1);
  /* transform-origin: 50% 50%; */
  transition: transform .5s ease-out;
}

.service-card:hover::before {
  transform: scale(23);
}

.service-card:hover {
  margin-top: -15px;
}

/* skill section  */
.container {
  width: 100%;
  margin: 0 auto;
}

@keyframes load {
  from {
    width: 0%
  }
}

@-webkit-keyframes load {
  from {
    width: 0%
  }
}

@-moz-keyframes load {
  from {
    width: 0%
  }
}

@-o-keyframes load {
  from {
    width: 0%
  }
}

.bar {
  background-color: #EEE;
  height: 14px;
  border-radius: 15px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar::before {
  content: attr(data-skill);
  background-color: #6b057d;
  display: inline-block;
  /* padding: 0 0 0 10px; */
  height: 14px;
  margin-bottom: 2px;
  /* top: 0; */
  border-radius: inherit;
  animation: load 7s 8s infinite;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.html::before {
  background-color: #ffcc33;
}

.bar.css::before {
  background-color: #254099;
}

.bar.tailwind::before {
  background-color: #2a1c78;
}

.bar.javascript::before {
  background-color: #860982;
}

.bar.react::before {
  background-color: #2e7937;
}

.bar.back::before {
  background-color: #a6cfe3;
}

.bar.node::before {
  background-color: #4a0779;
}

.bar.express::before {
  background-color: #c0a115;
}

/* set up skill width  */
.bar.advanced::before {
  width: calc(90% - 10px);
}

.bar.expert::before {
  width: calc(97% - 10px);
}

.bar.bootstrap::before {
  width: calc(89% - 10px);
}

.bar.tailwind::before {
  width: calc(80% - 10px);
}

.bar.basic::before {
  width: calc(40% - 10px);
}

.bar.javascript::before {
  width: calc(70% - 10px);
}

.bar.react::before {
  width: calc(65% - 10px);
}

.bar.node::before {
  width: calc(45% - 10px);
}

.bar.express::before {
  width: calc(55% - 10px);
}

.bar.back::before {
  width: calc(45% - 10px);
}